<div class="explore-container" id="explore">
  <h3>Explore the Variety!</h3>
  <p>
    Our tea is Hand-crafted and custom<br />
    made with organic and finest of teas <br />
    from China to Japan!
  </p>
  <button>View All</button>

  <img id="img1" src="assets/images/Group 934.png" />
  <img id="img2" src="assets/images/Group 931.png" />
  <img id="img3" src="assets/images/Group 932.png" />
  <img id="img4" src="assets/images/Group 930.png" />
  <img id="img5" src="assets/images/Vector 61.png" />
  <img id="img6" src="assets/images/Vector 62.png" />
  <img id="img7" src="assets/images/Vector 63.png" />
</div>
