<div class="footer">
  <div class="container">
    <div class="logo">
      <img src="assets/images/Frame (3).png" />
    </div>
    <div class="content">
      <div class="section1">
        <h3>Shop</h3>
        <p>Teas</p>
        <p>Coffee</p>
        <p>Other Beverages</p>
      </div>
      <div class="section2">
        <h3>Help</h3>
        <p>Careers</p>
        <p>Ingredients & Allergens</p>
        <p>Membership</p>
      </div>
      <div class="section3">
        <h3>Contact us</h3>
        <p>ankit4b@gmail.com</p>
        <p>(+91) 700 893 4211</p>
        <button>Video chat</button>
      </div>
    </div>
    <div class="social-media">
      <img class="icon" src="assets/images/icons/bxl-pinterest.png" />
      <img class="icon" src="assets/images/icons/bxl-twitter.png" />
      <img class="icon" src="assets/images/icons/bxl-instagram-alt.png" />
      <img class="icon" src="assets/images/icons/bxl-facebook-circle.png" />
    </div>
  </div>
  <div class="termsAndCondition">
    <p>
      PeaceCoveCopyright©2023 All rights reserved | Terms of Service | Privacy
      Policy | Accessibility Statement
    </p>
  </div>
</div>
