<div class="header">
  <img src="assets/images/cup-removebg-preview.png" class="image1" />
  <img src="assets/images/Group 969.png" class="image2" />
  <img src="assets/images/Group 928.png" class="image3" />
  <div class="content">
    <h2 class="heading">
      Take a Tea trip <br />
      Far away!
    </h2>
    <p class="description">
      Order tea online or <br />
      in-store, to escape <br />
      to a relaxing and <br />
      new reality of tea!
    </p>
    <h5 class="referal">Use Code: RECHARGEFAR</h5>
    <button>Shop Now</button>
  </div>
</div>
