<div class="matcha" id="matcha">
  <div class="left-section">
    <img class="img1" src="../../../assets/images/Group 938.png" />
    <img class="img2" src="../../../assets/images/Group 937.png" />
  </div>
  <div class="right-section">
    <h3>Matcha this Summer!</h3>
    <p>
      Break out the tea ware and <br />
      show off with our new Matcha <br />
      recipes! Choose from Whipped,<br />
      Ice cream-and classic flavors.
    </p>
    <button>Find Your Matcha</button>
  </div>
</div>
