<div class="container" id="party">
  <div class="signup-container">
    <div class="content">
      <h1>Join the Tea Party!</h1>
      <p>Sign up to get the latest on sales new releases and more...</p>
      <div class="form">
        <input type="email" name="email" />
        <button>Sign Up!</button>
      </div>
    </div>
  </div>
  <img class="img1" src="assets/images/Group 943.png" />
  <img class="img2" src="assets/images/Frame (1).png" />
  <img class="img3" src="assets/images/Frame (2).png" />
  <img class="img4" src="assets/images/Group 942.png" />
  <div class="footer"></div>
</div>
